<div class="dashboard-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Hello {{user.username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>Your email is: {{user.email}}</h4>
      <h4>Your account created at: {{user.created_at | date}}</h4>
      <h4 *ngIf="user.todos.length < 1">You don't have any Tasks</h4>
      <h4 *ngIf="user.todos.length === 1">You have only{{user.todos.length }} Task</h4>
      <h4 *ngIf="user.todos.length > 1">You have {{user.todos.length }} Tasks</h4>
    </mat-card-content>
    <mat-card-action>
      <a routerLink="/" mat-flat-button color="accent" style="width: 100%">
        Go to Tasks page
      </a>
    </mat-card-action>
  </mat-card>
</div>
